name: Your Github Workflow name
on:
  workflow_dispatch:
  schedule:
    # IMPORTANT: Set cron job in UTC timezone
    - cron:  '58 0 * * *'

jobs:
  run-python-script:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
        with:
          python-version: '3.8.0'
      - run: pip install requests
      - run: python src/first_python_script.py
       
